<a href="https://colab.research.google.com/github/Santosh311/Forestfireprediction/blob/main/correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy
import pandas

from sklearn.feature_selection import RFE
from sklearn.ensemble import ExtraTreesRegressor


import matplotlib.pyplot as plt


from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_absolute_error



from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.utils import np_utils
from keras.constraints import maxnorm
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler

# fix random seed for reproducibility
seed = 7
numpy.random.seed(seed)

In [6]:
# load dataset
dataframe = pandas.read_csv("/content/forestfires.csv")



# Encode Data
dataframe.month.replace(('jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'),(1,2,3,4,5,6,7,8,9,10,11,12), inplace=True)
dataframe.day.replace(('mon','tue','wed','thu','fri','sat','sun'),(1,2,3,4,5,6,7), inplace=True)

In [7]:
dataframe.head(10)

   X  Y  month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0  7  5      3    5  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.0
1  7  4     10    2  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0
2  7  4     10    6  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
3  8  6      3    5  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
4  8  6      3    7  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
5  8  6      8    7  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
6  8  6      8    1  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
7  8  6      8    1  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
8  8  6      9    2  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0
9  7  5      9    6  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.0

In [9]:
dataframe.describe()

                X           Y       month  ...        wind        rain         area
count  517.000000  517.000000  517.000000  ...  517.000000  517.000000   517.000000
mean     4.669246    4.299807    7.475822  ...    4.017602    0.021663    12.847292
std      2.313778    1.229900    2.275990  ...    1.791653    0.295959    63.655818
min      1.000000    2.000000    1.000000  ...    0.400000    0.000000     0.000000
25%      3.000000    4.000000    7.000000  ...    2.700000    0.000000     0.000000
50%      4.000000    4.000000    8.000000  ...    4.000000    0.000000     0.520000
75%      7.000000    5.000000    9.000000  ...    4.900000    0.000000     6.570000
max      9.000000    9.000000   12.000000  ...    9.400000    6.400000  1090.840000

[8 rows x 13 columns]

In [11]:
dataframe.shape

(517, 13)

In [14]:
#Correlation
dataframe.corr(method="pearson")

              X         Y     month  ...      wind      rain      area
X      1.000000  0.539548 -0.065003  ...  0.018798  0.065387  0.063385
Y      0.539548  1.000000 -0.066292  ... -0.020341  0.033234  0.044873
month -0.065003 -0.066292  1.000000  ... -0.086368  0.013438  0.056496
day   -0.024922 -0.005453 -0.050837  ...  0.032478 -0.048340  0.023226
FFMC  -0.021039 -0.046308  0.291477  ... -0.028485  0.056702  0.040122
DMC   -0.048384  0.007782  0.466645  ... -0.105342  0.074790  0.072994
DC    -0.085916 -0.101178  0.868698  ... -0.203466  0.035861  0.049383
ISI    0.006210 -0.024488  0.186597  ...  0.106826  0.067668  0.008258
temp  -0.051258 -0.024103  0.368842  ... -0.227116  0.069491  0.097844
RH     0.085223  0.062221 -0.095280  ...  0.069410  0.099751 -0.075519
wind   0.018798 -0.020341 -0.086368  ...  1.000000  0.061119  0.012317
rain   0.065387  0.033234  0.013438  ...  0.061119  1.000000 -0.007366
area   0.063385  0.044873  0.056496  ...  0.012317 -0.007366  1.000000

[13 rows x 13 columns]